.dropdown-menu.show {
    display: block;
    padding: 0px;
}

.header-drop-down {
    margin: 0px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-drop-down>p {
    color: #fff;
    margin: 5px 0px;
    font-size: 14px;
    line-height: 1.1em;
}



div.dropdown-menu div.box-balance>div {
    min-width: 300px;
}

div.dropdown-menu>div.box-balance {
    margin: 0px 10px;
}


.footer-drop-down2 {
    margin: 10px 0px;
    display: flex;
}

.footer-drop-down2>a {
    width: 50%;
    text-align: center;
}

.footer-drop-down2>a>svg {
    width: 13px;
    margin-right: 8px;
    margin-top: -4px;
}




.header-top {
    padding: 0px 0 0px;
    position: sticky;
    top: 0px;
    background: var(--color3);
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
    z-index: 997;

}

.navigation-bar {
    display: flex;
    align-items: center;
}

.logo {
    margin: 5px 35px 5px 0px;
    width: auto;
}

.logo a {
    display: block;
    line-height: 0px;
}

.logo img {
    max-width: 180px;
}

.nav-menu {
    margin: 0px 0px 0px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.nav-menu>ul {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 8px;
    float: left;
}

.nav-menu a {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: var(--color2);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: unset;
    text-decoration: none;
}


.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color1);
    visibility: hidden;

    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fcc538;
    fill: var(--color1);
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.login-links {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
    position: relative;
}

.hide-mobile {
    display: inherit;
}

.button-header {
    background: var(--color1);
    color: var(--color8);
    border: 0px solid var(--color1);
    font-size: 12px;
    border-radius: 3px;
    padding: 9px 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block !important;
}

.button-header>svg {
    width: 21px;
    fill: #fff;
}

.login-pul {
    text-transform: uppercase;
    color: #fff !important;
    background: #b80642 !important;
    text-decoration: none;
}

div.of-header {
    background: var(--color6);
    padding: 10px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}


.header-drop-down-language {
    margin: 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    align-items: flex-start;
}

.header-drop-down-language>p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0px;
    line-height: 1.1em;
}

.language-lists {
    min-width: 260px;
    margin: 20px 0px 10px;
}

.form-check-p {
    position: relative;
    padding: 0px 10px;
    border-bottom: 1px solid #ffffff0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check-p>label {
    font-size: 14px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    margin: 4px;
    display: flex;
    align-items: center;
}

.form-check-p>label>img {
    width: 20px;
    margin: 0px 8px 0px 0px;
}

.d-d-footer {
    display: block;
    border-radius: 3px;
    background: var(--color3);
    margin: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

.d-d-footer>p {
    color: #fff;
    font-size: 15px;
    padding: 20px 10px 20px;
    margin-bottom: 0px;
}

.d-d-footer>p>a {
    color: #fff;
    display: block;
}

.d-d-footer>p>a>svg {
    fill: #fff;
    width: 18px;
    margin-right: 8px;
}

/*Info profile soldi*/

.info-profile {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
    margin: 10px;
}

/*Languages*/

.cLanguage {
    background: #dddddd26;
}

.cLanguage input {
    display: none;
}

.dropdown-toggle::after {
    display: none;

}

.dropdown-toggle {
    background: var(--color1);
    color: var(--color8);
    border: 0px solid var(--color1);

    border-radius: 3px;
    padding: 5px 13px 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block !important;
}

.dropdown-toggle>svg {
    width: 15px;
    fill: #fff;
}


.number-message {
    position: absolute;
    left: -10px;
    width: 20px;
    top: -5px;
    font-size: 10px;
    height: 20px;
    text-align: center;
    background: #e62b64;
    line-height: 20px;
    border-radius: 10px;
    color: #fff;
}


.btn-check:active+.btn-success:focus,
.btn-check:checked+.btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 !important;
    background: var(--color1);
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    color: #fff;
    background: var(--color1);
    border: var(--color1);
    box-shadow: 0 0 0 0;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--color6);
    background-clip: padding-box;

    border-radius: 5px;
}

.box-balance {
    padding: 10px 0px;
    margin-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

div.box-balance>div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ffffff6b;
    padding: 5px;
    align-items: center;
}

.box-balance>div>span.elemento-voce2 {
    font-size: 12px;
    font-weight: 600;
    color: var(--color1);
    font-size: 15px;
}

.box-balance>div>strong {
    font-size: 13px;
    color: #ddd;
}

.box-balance>div:last-child {
    border-bottom: 0px dotted #ffffff6b;
    padding-bottom: 0px;
}