
.header-top {
    padding: 0px 0 0px;
    position: sticky;
    top: 0px;
    /*background: var(--color3);*/
    background-color: #282649;
    box-shadow: 0px 0px 25px 0 rgb(0 0 0 / 8%);
    z-index: 997;

}

.navigation-bar {
    display: flex;
    align-items: center;
}

.logo {
    margin: 5px 35px 5px 0px;
    width: auto;
}

.logo a {
    display: block;
    line-height: 0px;
}

.logo img {
    max-width: 180px;
}

.nav-menu {
    margin: 0px 0px 0px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.nav-menu>ul {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 8px;
    float: left;
}

.nav-menu a {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    /*color: var(--color2);*/
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: unset;
    text-decoration: none;
}


.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    /*background-color: var(--color1);*/
    background-color: #ddd;
    visibility: hidden;

    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #fcc538;
    fill: var(--color1);
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}

.login-links {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
}

.hide-mobile {
    display: inherit;
}

.button-header {
    border: 0px solid #292649;
    color: #fcc538;
    background: #292649;
    /*background: var(--color1);
    color: var(--color8);
    border: 1px solid var(--color1);*/
    padding: 5px 10px;
    border-radius: 3px;
    padding: 10px 13px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: block !important;
}

.button-header>svg {
    width: 20px;
    margin: -2px;
    fill: #fff;
}

.login-pul {
    text-transform: uppercase;
    color: #fff !important;
    background: #b80642 !important;
    text-decoration: none;
}

div.of-header {
    background: #161429;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.show {
    position: absolute;
    transform: translate3d(-240px, 55px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 280px;
}

.header-drop-down {
    margin: 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    align-items: flex-start;
}

.header-drop-down > p {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    margin: 5px 0px;
    line-height: 1.1em;
}



.language-lists {
    min-width: 260px;
    margin: 20px 0px 10px;
}

.form-check-p {
    position: relative;
    padding: 0px 10px;
    border-bottom: 1px solid #ffffff0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-check-p > label {
    font-size: 14px;
    padding: 10px 0px;
    width: 100%;
    color: #fff;
    margin: 4px;
    display: flex;
    align-items: center;
}

.form-check-p > label > img {
    width: 20px;
    margin: 0px 8px 0px 0px;
}

.d-d-footer {
    display: block;
    border-radius: 3px;
    /*background: var(--color3);*/
    background: #282649;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
}

.d-d-footer > p {
    color: #fff;
    font-size: 15px;
    padding: 20px 10px 20px;
    margin-bottom: 0px;
}
.d-d-footer > p > a {
    color: #fff;
    display: block;
}

.d-d-footer > p > a > svg {
    fill: #fff;
    width: 18px;
    margin-right: 8px;
}
