@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: var(--color5);
}


a {
  color: #007bff;
  text-decoration: none;
}

button {
  background: none;
  border: 0px;
}


/* general */




/* slideshow */

.image {
  width: 2000px;
  height: 680px;
  border-radius: 10px;
}

a.botton-adv-1 {
  background: #f8b226;
  text-transform: uppercase;
  color: #292649;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 50%);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px -1px rgb(0 0 0 / 50%);
}

.carousel-item>img {
  width: 100%;
}

/* Footer */

#footer {
  background: var(--color7);
  padding: 15px 0 10px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
}

.box-link-footer {
  margin-bottom: 30px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ffffff3d;
}

.box-link-footer>ul {
  list-style: none;
  display: block;
  justify-content: center;
  padding: 0px;
}

.box-link-footer>ul>li {
  border-right: 0.5px solid rgb(255 255 255 / 18%);
  font-size: 11px;
  padding: 1px 15px;
  display: inline-block;
}

.box-link-footer>ul>li:last-child {
  border-right: 0px;
}

.box-link-footer>ul>li>a {
  color: #ccc;
}

.logo-footer {
  width: 100%;
  max-width: 190px;
  margin-bottom: 30px;
}

.section-footer-play {
  justify-content: center;
  margin-bottom: 30px;
}

.icon-play {
  width: 90%;
  margin-bottom: 10px;
}

.copyright {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.3em;
  margin-top: 15px;
}

img.multiplatform {
  width: 100%;
  max-width: 340px;
  margin: 3px 0px 0px 0px;
}

.footer-bottom-bar {
  padding: 10px 0px;
  border-top: 1px solid #ffffff59;
  background: var(--color7);
}



.loghi-pag {
  text-align: center;
}

.loghi-pag img {
  width: 60px;
  height: auto;
}

.logo-footer {
  max-width: 190px;
  margin-bottom: 30px;
}

.gioco-18 {
  border-color: var(--color4);
  color: #bbb;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0px;
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;
}



/*Modal*/

.mymodal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  border: 1px solid rgb(51 51 51 / 50%);
  background: var(--color5);

  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  min-width: 300px;
  max-width: 100%;
  margin-bottom: 30px;
}

.myoverlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100000;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-style-1 {
  padding: 20px;
  background: var(--color5);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgb(17 17 17);
  border: 1px solid rgb(51 51 51 / 50%);
}

.title-modal-1 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.coolform .form-control {
  display: block;
  width: 100%;
  height: calc(20px + 8px + 2px);
  padding: 5px 0px 5px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #888;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-top: 5px;
}

.loginButton {
  width: 100%;
  margin-bottom: 15px;
}

.login {
  font-size: 12px;
  font-weight: 600;
  background: var(--color1);

  color: var(--color8);
  border: 1px solid var(--color1);
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login:hover {
  color: #fff;
  background: var(--color1);
  transition: all 0.3s ease-in-out 0s;
}

.labelforget {
  color: #ddd;
  text-decoration: underline;
}


.underbox {
  text-align: center;
  border-top: 1px solid rgb(255 255 255 / 16%);
  padding: 15px 0px 5px;
  color: #ddd;
  font-size: 14px;
  margin-bottom: 5px;
}

.logoimglogin {
  width: 150px;
  margin-bottom: 10px;
}

.registration {
  background: #464271 !important;
  border: 1px solid #292649 !important;
  color: #ffcc06 !important;
  text-align: center;
  font-size: 16px !important;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  font-weight: 700;
  padding: 7px 25px;
  width: 100%;
  display: block;
}

button.close.new {
  position: absolute;
  right: 18px;
  top: 10px;
  color: #fff;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.rec-pass {
  color: #ddd;
  text-decoration: underline;
  font-size: 13px;
}

.rec-pass:hover {
  color: #ddd;
  text-decoration: underline;
  font-size: 13px;
}

.modal-close-btn {
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
}


.color-top {
  font-size: 10px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: -3px;
}

.registration-promo>svg {
  width: 20px;
  fill: #ffcc06;
  margin-right: 15px;
}

.registration-promo {
  font-size: 1.5em;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff36;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-datepicker__input-container>input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-datepicker-ignore-onclickoutside {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.privacy_reg {
  margin-top: 20px;
}

.privacy_reg>div {
  font-size: 11px;
  display: flex;
}


.row.privacy_reg input {
  margin-right: 10px;
  margin-top: 0px;
}

.row.privacy_reg a {
  color: #ffcc06;
}

.promoText {
  margin-top: 10px;
  font-size: 1em;
}

.promoText h5 {
  font-size: 1.2em;
  color: #ffcc06;
  margin-top: 10px;

}






/*slick slider*/
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*slick-slider-2*/

.margin-slider {
  margin: 0px -15px;
}

.slick-slide {
  margin: 10px;
  outline: none;
  max-width: 1340px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: .4;
  transition: opacity 1.25s ease-out;
}

.slick-current {
  opacity: 1 !important;
}

.slider-item {
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.slider-item:before {
  content: "";
  position: absolute;
  top: -100px;
  right: 40px;
  width: 86px;
  height: 120px;
  display: block;
  border-top-right-radius: 40%;
  background: var(--color1);

  -webkit-transform: rotate(100deg) skewX(-30deg) scaleY(.866) translateY(-50%);
  transform: rotate(100deg) skewX(-30deg) scaleY(.866) translateY(-50%);
  z-index: 9;
}

/* <-- change color */
.slick-dots {
  background: var(--color5);
  list-style-type: none;
  text-align: center;

  padding: 2px;
  border-radius: 20px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  max-width: 100%;
  width: fit-content;
}

#slickSlider .slick-dots {
  list-style-type: none;
  text-align: center;
  background: var(--color5);
  padding: 2px;
  border-radius: 20px;
  display: block;
  position: absolute;
  left: 50%;
  /*
  bottom: 15px;*/
  transform: translateX(-50%);
  width: auto;
}

.slick-dots li {
  display: block;
  margin: 0 3px;
  /*
  top: 3px;*/
  float: left;
  width: 40px;
  height: 22px;
}

.slick-dots .slick-active button {
  background: var(--color1);
  color: #fff;
}

.slick-dots li button {
  background: var(--color4);
  font-size: 0;
  border: none;
  width: 40px;
  height: 14px;
  border-radius: 20px;
  outline: none;
  vertical-align: super;
  padding-top: 3px;

}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  display: none;
}

.on .slick-dots {
  background: #333743;
}

.slick-dots {
  transition: background-color 0.4s ease-in;
}

.text-bg {
  width: 100%;
  height: 400%;
  margin: 0;
  left: 135%;
  top: -155%;
  background: #333743;
  border-radius: 4%;
  -webkit-transform: rotate(-45deg) translate(-50%, -55%);
  transform: rotate(-45deg) translate(-50%, -55%);
  -webkit-box-shadow: -20px -20px 0 0 hsla(0, 0%, 100%, .2), -10px -10px 0 0 hsla(0, 0%, 100%, .2);
  -moz-box-shadow: -20px -20px 0 0 hsla(0, 0%, 100%, .2), -10px -10px 0 0 hsla(0, 0%, 100%, .2);
  box-shadow: -20px -20px 0 0 hsla(0, 0%, 100%, .2), -10px -10px 0 0 hsla(0, 0%, 100%, .2);
  display: block;
  position: absolute;
  z-index: 3;
}

/* Image Layers */
.noAnimation_item {
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.top_item {
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: absolute;
  z-index: 3;
  left: -10px;
  -webkit-animation: runTop 10s linear infinite alternate;
  animation: runTop 10s linear infinite alternate;
}

.bottom_item {
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: relative;
  left: -10px;
  -webkit-animation: runBottom 10s linear infinite alternate;
  animation: runBottom 10s linear infinite alternate;
}

@keyframes runTop {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes runBottom {
  0% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
}

.vert_move_1 {
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: absolute;
  z-index: 3;
  left: -10px;
  -webkit-animation: mover_1 1s infinite alternate;
  animation: mover_1 1s infinite alternate;
}

.vert_move_2 {
  height: 100%;
  width: 100%;
  margin-left: 0;
  position: relative;
  left: -10px;
  -webkit-animation: mover_2 1s infinite alternate;
  animation: mover_2 1s infinite alternate;
}

@keyframes mover_1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover_2 {
  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(-10px);
  }
}

/* Slider Text Block */
.textLayer_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  z-index: 9;
}

.textLayer_container {
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.textLayer_labels {
  float: right;
  max-width: 550px;
  width: 100%;
  margin-top: auto;
  display: inline-block;
  margin-bottom: 10px;
}

.textLayer_title {
  color: #fe6738;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}

/* <-- change color */
.textLayer_slogan {}

/* Buttons */
.beforeLogInButtons {
  display: none;
}

.sliderButtonSignIn {
  background: var(--color1);
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  float: right;
}

/* <-- change color */
.sliderButtonSignIn:hover {
  color: #fff;
}

.sliderButtonSecond {
  /*background: linear-gradient(-45deg,#121212,#020202);*/
  background: var(--color4);
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  float: right;
}

/* <-- change color */
.sliderButtonSecond:hover {
  color: #fff;
}

/* Responsive */
@media (min-width: 200px) {
  .textLayer_title {
    font-size: 15px;
  }

  .textLayer_slogan {
    display: none;
  }

  .sliderButtonSecond {
    font-size: 10px !important;
    height: 30px !important;
    width: 80px !important;
  }

  .sliderButtonSignIn {
    font-size: 10px !important;
    height: 30px !important;
    width: 80px !important;
  }

  .slider-item:before {
    top: -145px;
  }

  .top_item {
    width: 165%;
    margin-left: -45%;
  }

  .bottom_item {
    width: 165%;
    margin-left: -45%;
  }

}

@media (min-width: 768px) {
  .textLayer_title {
    font-size: 26px;
  }

  .textLayer_slogan {
    display: none;
  }

  .slider-item:before {
    top: -130px;
  }

  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

@media (min-width: 1024px) {
  .textLayer_title {
    font-size: 26px;
  }

  .textLayer_slogan {
    display: block;
  }

  .slider-item:before {
    top: -100px;
  }

  .top_item {
    width: 100%;
    margin-left: 0;
  }

  .bottom_item {
    width: 100%;
    margin-left: 0;
  }

  .sliderButtonSecond {
    font-size: 16px !important;
    height: 50px !important;
    width: 180px !important;
  }

  .sliderButtonSignIn {
    font-size: 16px !important;
    height: 50px !important;
    width: 180px !important;
  }
}

@media (min-width: 1281px) {
  .textLayer_title {
    font-size: 26px;
  }

  .textLayer_slogan {
    display: block;
  }

  .slider-item:before {
    top: -100px;
  }

  .top_item {
    width: 100%;
    margin-left: 0;
  }

  .bottom_item {
    width: 100%;
    margin-left: 0;
  }

  .sliderButtonSecond {
    font-size: 16px !important;
    height: 50px !important;
    width: 180px !important;
  }

  .sliderButtonSignIn {
    font-size: 16px !important;
    height: 50px !important;
    width: 180px !important;
  }
}

/* Modal */
#sliderAboutWebsite {
  backdrop-filter: blur(8px);
}

.modalContentWrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 3%;
  color: #fff;
  text-align: center;
  opacity: 1;
}

.text-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/*Selezionato*/

.selezionato {
  color: red;
}

/*freccia casino*/

.svgarrow {
  width: 16px;
  margin-right: 10px;
  fill: var(--color1);

}

/*Providers*/

.provider>a>img {
  width: 90%;
  max-height: 25px;
  margin: 0px;
}


.slide-casino {
  background: var(--color4);
  box-shadow: 0 0 10px rgb(0 0 0 / 38%);
  border-bottom: 1px solid rgb(7 17 32 / 81%);
  display: flex;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  padding: 5px 55px 5px 5px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  scrollbar-color: #2e323b;
  -ms-overflow-style: none;
  scrollbar-width: 3px !important;
}

.slide-casino::-webkit-scrollbar {
  width: 5px;
}

.slide-casino::-webkit-scrollbar-thumb {
  box-shadow: 0 0 6px rgb(0 0 0 / 30%);
  background-color: #2e323b;
  border-radius: 5px;
}

.slide-casino::-webkit-scrollbar-track {
  background-color: #222222;
}

.provider {
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 130px;
}

div.provider>a {
  background: var(--color5);
  border-radius: 8px;
  border: 1px solid rgb(255 255 255 / 9%);
  display: block;
  padding: 3px;
  text-align: center;
}

div.provider>a:hover {
  background: rgb(255 255 255 / 0%);
  border: 1px solid rgb(255 255 255 / 70%);
}

/*Slider jackpots*/

.wordCarousel {
  font-size: 15px;
  font-weight: 100;
  color: #eee;
  display: flex;
  margin: 10px;
}

.wordCarousel h1 {
  font-size: 18px;
  font-weight: 100;
  color: #fbb104;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  font-weight: 600;
  background: #0e314a;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  width: 90%;
  display: flex;
  height: 40px;
  padding-top: 0px;
  margin-top: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;

  background: #ffffff0d;
}

.wordCarousel div>ul {
  padding-left: 0px;
  width: calc(17% - 2px);
  margin-left: 1px;
}


.wordCarousel div>ul>li>span {
  margin-left: 10px;
  color: #fbb104;
  font-weight: 700;
}

.flip5 {
  -webkit-animation: flip5 50s cubic-bezier(0.23, 1, 0.32, 1.1) infinite;
  animation: flip5 50s cubic-bezier(0.23, 1, 0.32, 1.1) infinite;
  margin-bottom: 0px;
}

.wordCarousel div li {
  color: #eee;
  font-weight: 400;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  /* border-right: 1px solid #fff; */
  background: #0e314a;
}

.first-t {
  animation-delay: 1s !important;
}

.second-t {
  animation-delay: 2s !important;
}

.third-t {
  animation-delay: 3s !important;
}

.forty-t {
  animation-delay: 4s !important;
}

.five-t {
  animation-delay: 5s !important;
}

.six-t {
  animation-delay: 6s !important;
}



@-webkit-keyframes flip5 {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}

@keyframes flip5 {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }

  33% {
    margin-top: -180px;
  }

  38% {
    margin-top: -90px;
  }

  66% {
    margin-top: -90px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}


@media only screen and (max-width: 600px) {
  .wordCarousel h1 {
    width: 40%;
    font-size: 16px;
  }

  .wordCarousel div>ul {

    width: calc(100% - 2px);

  }

  .wordCarousel div {

    width: 70%;

  }

}


/*Conteggio giochi con subcategory*/

.list-type-play {
  border-right: 1px solid rgb(255 255 255 / 10%);
}

.list-type-play>div {
  display: flex;
  margin: 0px -15px;
}

.pul-type-play.active {
  background: var(--color1);

}

.pul-type-play.active>a {
  color: #272c35;
}

.pul-type-play>a {
  padding: 8px 20px;
  display: block;
  color: #fff !important;
  background: transparent;
  font-size: 14px;
  text-align: center;
}

.pul-type-play {
  border-bottom: 1px solid #ffffff21;
  width: 100%;
  margin: 0px;
}

/*Carica altri giochi*/

div.show-all-p {
  background: var(--color4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.show-all-p>a {
  padding: 5px 25px 15px;
  font-size: 14px !important;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  margin: 0 0 10px;
  color: #fff !important;
  ;
  border-bottom-right-radius: 20px;
  font-weight: 700;

  background: var(--color5);
  margin-bottom: 40px;
}

div.show-all-p>a>svg {
  width: 16px;
  margin-right: 10px;
  fill: var(--color1);
}

/*Giochi casino*/

.square-box-casino {
  position: relative;
  width: 14.2857%;
  overflow: hidden;
  float: left;
}

.square-box-casino:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square-content-casino {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  background: var(--color6);
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgb(44 57 79 / 80%);
  border: 1px solid rgb(255 255 255 / 11%);
}




.container-casino {
  display: table;
  width: 100%;
  height: 100%;
}

.image-casino-icon {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

div.container-casino:hover>div.middle-button {
  background: #000000d4;
}


.middle-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-casino:hover .image-casino-icon {
  opacity: 1;
}

.container-casino:hover .middle-button {
  opacity: 1;
}


.icon-play-casino {
  width: 50%;
  margin-top: 5px;
}

.title-game {
  margin-bottom: 10px;
  font-size: 13px;
  color: #fff;
}


.circle {
  stroke: var(--color1);
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.5s ease;
}

.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #fff;
  transform: translateY(0);
}

.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: var(--color1);
  animation: nudge 0.7s ease-in-out;
}

.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}



/*roba lingue ale*/

.lingua {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sback {
  display: block;
  width: 100%;
  text-align: center;
  background: #007bff;
  color: #fff;
  border-radius: 3px;
}

.provider.active>a {
  background: #4b5161;
}

/*Textare languages*/

.textareaElement {
  width: 300px;
  min-height: 17px;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*Providers deposit*/

.payimg {
  width: 30px;
}

/*jackpot*/

.jackpot {
  height: auto;
  position: relative;
  width: calc(100% - 30px);
  top: 0;
  padding: 3px 2px;
  z-index: 110;
  display: flex;
  justify-content: center;
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}


.jackpot-div-mini>span,
.jackpot-div-super>span,
.jackpot-div-mega>span {
  align-self: center;
  padding: 5px 0px;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 2px 3px;
  font-size: 11px;
  line-height: 11px;
  font-weight: bolder;
  color: #fff;
  transform-origin: bottom left;
  -ms-transform: skew(50deg, 0deg);
  ;
  -webkit-transform: skew(50deg, 0deg);
  ;
  transform: skew(50deg, 0deg);
  ;
}



.jackpot-div-super,
.jackpot-div-mini,
.jackpot-div-mega {
  height: auto;
  background-size: cover;
  width: calc(33.333% - 2px);
  border-radius: 5px;
  margin: 0px 1px 0px;
  border: 0px;
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 50%);
  max-width: 100%;
  position: relative;
  justify-content: center;
  border-left: 1px solid #ffffff45;
  border-bottom: 1px solid #ffffff45;
  flex-direction: row;
  padding: 3px 0px;
  display: flex;
  /* -webkit-animation: bounce-in-top 1.1s steps(2, end) 0.5s both; */
  /* animation: bounce-in-top 1.1s steps(2, end) 0.5s both; */
  transform-origin: bottom left;
  -ms-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}



.jackpot-div-mega>strong,
.jackpot-div-super>strong,
.jackpot-div-mini>strong {
  align-self: center;
  font-size: 22px;
  line-height: 22px;
  margin: 3px 7px;
  border-right: 0;
  border-left: 1px solid #ffffff80;
  padding: 0px 9px;
  transform-origin: bottom left;
  color: #fcb202;
  -ms-transform: skew(50deg, 0deg);
  ;
  -webkit-transform: skew(50deg, 0deg);
  ;
  transform: skew(50deg, 0deg);
  ;
  ;
  font-family: 'Titillium Web';
  letter-spacing: 1px;
}

.jackpot-div-super {
  background: #565656;
}

.jackpot-div-mini {
  background: #717171;
}

.jackpot-div-mega {
  background: #464646;
}


/*profile & count page*/

.box-balance>h2 {
  color: var(--color1);
  margin: 0px 0px 5px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  border-bottom: 1px solid #ffffff4f;
  padding-bottom: 10px;
}

.box-balance>div>span.elemento-voce {
  font-size: 12px;
  color: #fff;
}

.box-account-button {
  background: var(--color3);
  padding: 10px;
  border: 1px solid #ffffff21;
}

.box-account-button>h2 {
  color: var(--color1);
  margin: 0px 0px 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.box-account-button>div>a>div {
  background: var(--color5);
  border-radius: 8px;
  border: 1px solid rgb(255 255 255 / 9%);
  display: block;
  padding: 10px;
  text-align: left;
  margin-bottom: 5px;
}

.imgpay{
  width: 100%;
}